(function() {
%%JS%%
	
	if (isHomepage) {
		function GM_addStyle(css) {
			const style = document.getElementById("GM_addStyleNYTBR") || (function() {
				const style = document.createElement('style');
				style.type = 'text/css';
				style.id = "GM_addStyleNYTBR";
				document.head.appendChild(style);
				return style;
			})();
			const sheet = style.sheet;
			sheet.insertRule(css, (sheet.rules || sheet.cssRules || []).length);
		}
		
		%%CSS%%
	}
})();
