.article-byline {
	font-family: nyt-cheltenham-small;
	color: #a19d9d;
	font-size: 12px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.article-byline-centered {
	text-align: center;
}

section[data-block-tracking-id="Briefings"] .article-byline {
	margin-top: 0;
}